<div>
  <mat-card>
    <div class="head-content-card">
      <h2>Convenios</h2>
      <button class="buttonAdd" mat-raised-button color="primary" [routerLink]="['/admin/convenio',{id: null} ]">Agregar
        Nuevo</button>
    </div>
    <mat-accordion *ngFor="let account of accounts">
      <mat-expansion-panel (opened)="panelOpenAccount = true" (closed)="panelOpenAccount = false">
        <mat-expansion-panel-header style="font-weight: bold" class="mat-typography; bold">
          <mat-panel-title>
            {{account.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p mat-line>
          <span class='mat-body-strong'>Monto: </span>
          <span>{{account.id}}</span>
        </p>
        <p mat-line>
          <span class='mat-body-strong'>Cuenta: </span>
          <a routerLink="admin/cuentas">pdf</a>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
