<div>
  <mat-card>
    <div class="head-content-card">
      <h2>Convenios</h2>
    </div>
    <mat-accordion *ngFor="let agreement of agreements">
      <mat-expansion-panel (opened)="panelOpenAgreement = true" (closed)="panelOpenAgreement = false">
        <mat-expansion-panel-header style="font-weight: bold" class="mat-typography; bold">
          <mat-panel-title>
            {{agreement.nombre}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p mat-line>
          <span class='mat-body-strong'>Periodo: </span>
          <span>agregar convenio</span>
        </p>
        <p mat-line>
          <span class='mat-body-strong'>Monto: </span>
        </p>
        <p mat-line>
          <span class='mat-body-strong'>Convenio: </span>
          <a routerLink="admin/convenio">pdf</a>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenAgreement = true" (closed)="panelOpenAgreement = false">
        <mat-expansion-panel-header style="font-weight: bold" class="mat-typography; bold">
          <mat-panel-title>
            Nombre convenio prueba 1
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p mat-line>
          <span class='mat-body-strong'>Periodo: </span>
          <span>agregar convenio</span>
        </p>
        <p mat-line>
          <span class='mat-body-strong'>Monto: </span>
        </p>
        <p mat-line>
          <span class='mat-body-strong'>Convenio: </span>
          <a routerLink="admin/convenio">pdf</a>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenAgreement = true" (closed)="panelOpenAgreement = false">
        <mat-expansion-panel-header style="font-weight: bold" class="mat-typography; bold">
          <mat-panel-title>
            Nombre convenio prueba 2
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p mat-line>
          <span class='mat-body-strong'>Periodo: </span>
          <span>agregar convenio</span>
        </p>
        <p mat-line>
          <span class='mat-body-strong'>Monto: </span>
        </p>
        <p mat-line>
          <span class='mat-body-strong'>Convenio: </span>
          <a routerLink="admin/convenio">pdf</a>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
