<mat-card>
  <mat-spinner class="spinner" *ngIf="agreementInEdition == null"></mat-spinner>

  <form class="form" *ngIf="agreementInEdition != null">
    <mat-form-field class="full-width">
      <input type="text" name="nombre" placeholder="Nombre" matInput [(ngModel)]="agreementInEdition.nombre">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" name="monto" placeholder="monto " matInput [(ngModel)]="agreementInEdition.monto">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" name="periodo" placeholder="Periodo" matInput [(ngModel)]="agreementInEdition.periodo">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="checkAccount" [disabled]="disabled" [ngModelOptions]="{standalone: true}">
      Crear una cuenta </mat-checkbox>
    &nbsp; &nbsp; &nbsp;
    <button mat-raised-button color="primary" (click)="saveAgreement(agreementInEdition)">Guardar</button>
    &nbsp; &nbsp; &nbsp;
    <button mat-raised-button (click)='backToAgreements()' color="accent">Cancelar</button>
    &nbsp; &nbsp; &nbsp;

  </form>
</mat-card>
