<div class="cabecera">
  <h1>Datos Proveedor</h1>
  <button mat-raised-button (click)='onBack()' color="primary" class="boton">Regresar</button>
</div>
<form class="form">
  <mat-form-field class="full-width">
    <input type="nombre" placeholder="Nombre" matInput [(value)]=provider.name>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="localidad" placeholder="Localidad " matInput [(value)]=provider.locality>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="provincia" placeholder="Provincia" matInput [(value)]=provider.province>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="cuilCuit" placeholder="Cuit/Cuil" matInput [(value)]=provider.cuilCuit>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="numeroCuenta" placeholder="Numero de cuenta" matInput [(value)]=provider.numAccount>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="nombreContacto" placeholder="Nombre de contacto" matInput [(value)]=provider.contactName>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="apellidoContacto" placeholder="Apellido de contacto" matInput [(value)]=provider.contactSurname>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="telefonoContacto" placeholder="Telefono de contacto" matInput [(value)]=provider.contactPhone>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="mail" placeholder="Email de contacto " matInput [(value)]=provider.email>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="informacionAdicional" placeholder="Informacion adicional" matInput
      [(value)]=provider.additionalInformation>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="tagsRubrp" placeholder="Rubro" matInput [(value)]=provider.tagsItem>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <div class="pie">
    <button mat-raised-button (click)='openDialog(provider)' color="accent" class="boton">Guardar</button>
  </div>

</form>
