<div class="cabecera">
  <h1>Datos Proveedor</h1>
  <button mat-raised-button (click)='onBack()' color="primary">Regresar</button>
</div>
<mat-spinner class="spinner" *ngIf="providerInEdition == null"></mat-spinner>
<form class="form" *ngIf="providerInEdition != null">
  <mat-form-field class=" full-width">
    <input type="nombre" placeholder="Nombre" matInput [value]=providerInEdition.nombre
      (keyup)="setDataName($event.target.value)">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="localidad" placeholder="Localidad " matInput [value]=providerInEdition.localidad
      (keyup)="setDataLocality($event.target.value)">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="provincia" placeholder="Provincia" matInput [value]=providerInEdition.provincia
      (keyup)="setDataProvince($event.target.value)">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="cuilCuit" placeholder="Cuit/Cuil" matInput [value]=providerInEdition.cuilCuit
      (keyup)="setDataCuilCuit($event.target.value)">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="numeroCuenta" placeholder="Numero de cuenta" matInput [value]=providerInEdition.numeroCuenta
      (keyup)="setDataNumberAccount($event.target.value)">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="nombreContacto" placeholder="Nombre de contacto" matInput [value]=providerInEdition.nombreContacto
      (keyup)="setDataContantName($event.target.value)">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="apellidoContacto" placeholder="Apellido de contacto" matInput
      [value]=providerInEdition.apellidoContacto (keyup)="setDataContactSurname($event.target.value)">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="telefonoContacto" placeholder="Telefono de contacto" matInput
      [value]=providerInEdition.telefonoContacto (keyup)="setDataContactPhone($event.target.value)">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="mail" placeholder="Email de contacto " matInput [value]=providerInEdition.mail
      (keyup)="setDataEmail($event.target.value)">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="informacionAdicional" placeholder="Informacion adicional" matInput
      (keyup)="setDataAdditionalInformation($event.target.value)">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-chip-list #chipList aria-label="Item selection">
      <mat-chip *ngFor="let item of getCustomTagSplit(providerInEdition.tagsRubro)" [selectable]="selectable"
        [removable]="removable" (removed)="remove(item)">
        {{item}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Nueva mercadería" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <div class="pie">
    <button mat-raised-button (click)='openDialog(providerInEdition)' color="accent">Guardar</button>
  </div>

</form>
