<mat-card>
  <div>
    <div class="box">
      <button class="backButton" mat-raised-button color="primary" (click)="backToAccounts()">Volver </button>
    </div>
    <mat-card>
      <mat-tab-group mat-stretch-tabs class="borde example-stretched-tabs mat-elevation-z4" color="primary"
        backgroundColor="accent">

        <mat-tab label="Salida">
          <mat-accordion *ngFor="let transactionOutput of transactionsOutput">
            <mat-expansion-panel (opened)="panelOpenTransaction = true" (closed)="panelOpenTranasction=false">
              <mat-expansion-panel-header style="font-weight: bold" class="mat-typography; bold">
                <mat-card-content class="box transactionBoxItem">
                  <mat-panel-title>
                    <div class="box2">
                      <mat-icon color=primary *ngIf="transactionOutput.state === 'Pending'" class="icon"
                        matTooltip="Pendiente">
                        schedule</mat-icon>
                      <mat-icon color=primary *ngIf="transactionOutput.state === 'Done'" class="icon"
                        matTooltip="Realizado">
                        check
                      </mat-icon>
                      <div>{{transactionOutput.shortDescription}}</div>
                    </div>
                    <div class=" box1">
                      $ {{transactionOutput.amount}}
                    </div>
                  </mat-panel-title>
                </mat-card-content>
              </mat-expansion-panel-header>
              <mat-card-content class="box3">
                <div>
                  <button class="buttonEdit" mat-mini-fab matTooltip="Editar" [routerLink]="['/admin/editarTransaccion', {idAccount: accountKey, id: transactionOutput.key, type:
                    transactionOutput.type}]">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                <div>
                  <p mat-line *ngIf="transactionOutput.state === 'Pending'">Estado: Pendiente</p>
                  <p mat-line *ngIf="transactionOutput.state == 'Done'">Estado: Realizado</p>
                  <p mat-line>Fecha: {{transactionOutput.dateTime |date:"mediumDate"}}</p>
                  <p mat-line>Descripcion: {{transactionOutput.description}}</p>
                </div>
              </mat-card-content>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="Entrada">
          <mat-accordion *ngFor="let transactionInput of transactionsInput">
            <mat-expansion-panel (opened)="panelOpenTransaction = true" (closed)="panelOpenTranasction=false">
              <mat-expansion-panel-header style="font-weight: bold" class="mat-typography; bold">
                <mat-card-content class="box transactionBoxItem">
                  <mat-panel-title>
                    <div class="box2">
                      <mat-icon color=primary *ngIf="transactionInput.state === 'Pending'" class="icon"
                        matTooltip="Pendiente">
                        schedule</mat-icon>
                      <mat-icon color=primary *ngIf="transactionInput.state === 'Done'" class="icon"
                        matTooltip="Realizado">
                        check
                      </mat-icon>
                      {{transactionInput.shortDescription}}
                    </div>
                    <div class=" box1">
                      $ {{transactionInput.amount}}
                    </div>
                  </mat-panel-title>
                </mat-card-content>
              </mat-expansion-panel-header>
              <mat-card-content class="box3">
                <div>
                  <button class="buttonEdit" mat-mini-fab matTooltip="Editar" [routerLink]="['/admin/editarTransaccion', {idAccount: accountKey, id: transactionInput.key, type:
                    transactionInput.type}]">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                <div>
                  <p mat-line *ngIf="transactionInput.state === 'Pending'">Estado: Pendiente</p>
                  <p mat-line *ngIf="transactionInput.state === 'Done'">Estado: Realizado</p>
                  <p mat-line>Fecha: {{transactionInput.dateTime |date:"mediumDate"}}</p>
                  <p mat-line>Descripcion: {{transactionInput.description}}</p>
                </div>
              </mat-card-content>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>

      </mat-tab-group>
    </mat-card>
  </div>
</mat-card>
