.iconCenter {
  text-align: center;
  font-size: 18px;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
}

.head-content-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.search-content {
  width: 100%;
}

.box {
  width: 100%;

  height: 50%;

  display: flex;

  flex-direction: row-reverse;

  justify-content: space-between;
}

.box1 {
  width: 20%;
  display: flex;
  flex-wrap: nowrap;
}

.box2 {
  width: 100%;
  align-content: space-around;
}

.mat-chip {
  font-size: 12px;
  font-weight: 500;
}

.spinner {
  margin: auto;
}

.buttonDelete {
  margin-left: 3px;
}

.buttonEdit {
  margin-right: 3px;
}

.buttonAdd {
  padding: 0px;
  width: 110px;
  height: 50px;
  margin-top: auto;
}

.iconCenterProvider {
  text-align: center;
  font-size: 20px;
}

.providerBoxItem {
  border-style: outset;
}
