.iconCenter {
  text-align: center;
  font-size: 18px;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
}

.head-content-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
}

.search-content {
  width: 100%;
}

.mat-chip {
  font-size: 12px;
  font-weight: 500;
}

.spinner {
  margin: auto;
}

.buttonDelete {
  margin-left: 3px;
}

.buttonEdit {
  margin-right: 3px;
}

.buttonAdd {
  padding: 0px;
  width: 110px;
  height: 50px;
  margin-top: auto;
}
