<div>
  <mat-card class="proveedores">
    <h2>Proveedores</h2>
    <mat-spinner class="spinner" *ngIf="providersFiltrados == null"></mat-spinner>
    <div *ngIf="providersFiltrados!=null">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [formControl]="search" placeholder="Buscar a...">
      </mat-form-field>
    </div>
    <mat-list class='mat-typography' *ngIf="providersFiltrados!=null" class="contenedor">
      <mat-list-item *ngFor="let provider of providersFiltrados">
        <button class="buttonEdit" disabled mat-mini-fab matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="buttonDelete" disabled mat-mini-fab matTooltip="Eliminar">
          <mat-icon>delete_outline</mat-icon>
        </button>
        <p mat-line>
          <mat-icon class="iconCenter">home_outline</mat-icon><span class='mat-body-strong'>{{provider.name}}</span>
        </p>
        <p mat-line>
          <mat-icon class="iconCenter">contact_phone</mat-icon>
          <span class='mat-body'>{{provider.contactName}} &nbsp;{{provider.contactPhone}}</span>
        </p>
        <p *ngIf="provider.cuilCuit" mat-line>
          <mat-icon class="iconCenter">person</mat-icon>
          <span class='mat-body-strong'>Cuil/Cuit:</span> <span class='mat-body'>{{provider.cuilCuit}}</span>
        </p>
        <p *ngIf="provider.numAccount" mat-line>
          <mat-icon class="iconCenter">local_atm</mat-icon>
          <span class='mat-body-strong'>NroCuenta:</span> <span class='mat-body'>{{provider.numAccount}}</span>
          <button mat-icon-button matTooltip="Copiar datos de cuenta" (click)="copyText(provider)">
            <mat-icon class="iconCenter">file_copy</mat-icon>
          </button>
        </p>
        <p mat-line>
          <mat-chip-list class="no-wrap">
            <mat-chip class="no-wrap" *ngFor="let tag of provider.tagsItem.split(',')" color="accent" selected>
              {{tag}}
            </mat-chip>
          </mat-chip-list>
        </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
