<div>
  <mat-card>
    <div class="head-content-card">
      <h2>Proveedores</h2>
      <button class="buttonAdd" mat-raised-button color="primary"
        [routerLink]="['/admin/proveedor',{id: null} ]">Agregar
        Nuevo</button>
    </div>
    <mat-spinner class="spinner" *ngIf="providersFiltrados == null"></mat-spinner>
    <div *ngIf="providersFiltrados!=null">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input class="search-content" matInput [formControl]="search" placeholder="Buscar a...">
      </mat-form-field>
    </div>
    <div class='mat-typography' *ngIf="providersFiltrados!=null">
      <div *ngFor="let provider of providersFiltrados">
        <mat-card-content class="box">
          <div class="box1">
            <button class="buttonInfo" mat-mini-fab matTooltip="Más información" (click)="openInfo(provider)">
              <mat-icon>info</mat-icon>
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="buttonEdit" mat-mini-fab matTooltip="Editar"
              [routerLink]="['/admin/proveedor',{id: provider.key} ]">
              <mat-icon>edit</mat-icon>
            </button>
            &nbsp; &nbsp; &nbsp;
            <button mat-mini-fab matTooltip="Eliminar" (click)="openDialog(provider)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
          <div class="box2">
            <p mat-line>
              <mat-icon class="iconCenter">home_outline</mat-icon><span
                class='mat-body-strong'>{{provider.nombre}}</span>
              <button mat-icon-button mat-Tooltip="Copiar" [matMenuTriggerFor]="menu"></button>
              <mat-icon class="iconCenter">file_copy</mat-icon>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="copyDataProvider(provider)">Copiar proveedor</button>
                <button mat-menu-item (click)="copyAccountData(provider)">Copiar cuenta</button>
              </mat-menu>
            </p>
            <p mat-line>
              <mat-icon class="iconCenter">contact_phone</mat-icon>
              <span class='mat-body'>{{provider.nombreContacto}} &nbsp;{{provider.telefonoContacto}}</span>
              <span> &nbsp;{{provider.mail}}</span>
            </p>
            <p *ngIf="provider.cuilCuit" mat-line>
              <mat-icon class="iconCenter">person</mat-icon>
              <span class='mat-body-strong'>Cuil/Cuit:</span> <span class='mat-body'>{{provider.cuilCuit}}</span>
            </p>
            <p *ngIf="provider.numeroCuenta" mat-line>
              <mat-icon class="iconCenter">local_atm</mat-icon>
              <span class='mat-body-strong'>NroCuenta:</span> <span class='mat-body'>{{provider.numeroCuenta}}</span>

            </p>
            <p mat-line>
              <mat-chip-list>
                <mat-chip *ngFor="let tag of getCustomTagSplit(provider.tagsRubro)" color="accent" selected>
                  {{tag}}
                </mat-chip>
              </mat-chip-list>
            </p>
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
