<mat-toolbar *ngIf="(authService.authStatus | async) as authStatus" class='mat-typography' color="primary" id="header">
  <span fxShow fxHide.xs='true' fxShow.gt-xs='true' id="logo">
    <img src="../../assets/logo/logo-transparent.png" alt="logo" />
  </span>
  <span class="fill-remaining-space"></span>
  <span *ngIf="authStatus.isAuthenticated" fxLayoutAlign='center center' fxShow fxHide.xs='true' fxShow.gt-xs='true'
    class='mat-display-1 titulo sombra'>
    {{authStatus.organizationName}}
  </span>
  <span fxLayoutAlign='center center' fxShow fxHide.xs='false' fxShow.gt-xs='false' id='logo'>
    <img src="../../assets/logo/logo-transparent.png" alt="logo" />
  </span>
  <span fxShow fxHide.xs='true' fxShow.gt-xs='true' class="fill-remaining-space"></span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>
