<div>
  <mat-card>
    <div class="head-content-card">
      <h2>Convenios</h2>
      <button class="buttonAdd" mat-raised-button color="primary" [routerLink]="['/admin/convenio',{id: null} ]">Agregar
        Nuevo</button>

    </div>
    <mat-spinner class="spinner" *ngIf="agreements == null"></mat-spinner>
    <mat-accordion *ngFor="let agreement of agreements">
      <div>
        <mat-expansion-panel (opened)="panelOpenAgreement = true" (closed)="panelOpenAgreement = false">
          <mat-expansion-panel-header class="mat-typography">
            <mat-panel-title>
              {{agreement.nombre}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card-content class="box">
            <div class="box1">
              <button class="buttonEdit" mat-mini-fab matTooltip="Editar"
                [routerLink]="['/admin/convenio',{id: agreement.key} ]">
                <mat-icon>edit</mat-icon>
              </button>
              &nbsp; &nbsp; &nbsp;

            </div>
            <div class="box2">
              <p mat-line>
                <span class='mat-body-strong'>Periodo: </span>
                <span>{{agreement.periodoInicio |date:"mediumDate" }} - </span>
                <span>{{agreement.periodoFin|date:"mediumDate" }}</span>
              </p>
              <p mat-line>
                <span class='mat-body-strong'>Monto: </span>
                <span>{{agreement.monto}}</span>
              </p>
              <mat-progress-bar [value]="uploadProgress | async"></mat-progress-bar>
              <div class="item">
                Progress: {{ (uploadProgress | async) / 100 | percent }}
              </div>
              <div class="item">
                <input #inputFile class="hidden" type="file" (change)="uploadFile($event)" access=".pdf,.docx">

              </div>

            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </mat-card>
</div>
