.head-content-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.box {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.buttonAdd {
  padding: 0px;
  width: 110px;
  height: 50px;
  margin-top: auto;
}

.mat-typography {
  font-weight: bold;
  padding-bottom: 5px;
}
