.loginBox {
  margin: auto;
  width: 50%;
  padding: 70px 0;
}

.login-card {
  max-width: 400px;
  box-align: center;
  justify-content: center;
  margin: auto;
}

.box {
  align-self: auto;
}

.form-group {
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.2);
}

.full-width {
  width: 100%;
}
