<div class="loginBox">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title> <span>Buenas!</span></mat-card-title>
      <mat-card-subtitle>Bienvenido a pes</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="box">
      <form #formLogin="ngForm">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="email" placeholder="Email" [formControl]="emailFormControl"
            [errorStateMatcher]="matcherEmail">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Por favor ingrese una direccion de mail, valida.
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            El mail es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <div></div>
        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'" placeholder="Password"
            [formControl]="passFormControl" [errorStateMatcher]="matcherPass" class="form-control">
          <mat-error *ngIf="passFormControl.hasError('required')">
            La contraseña es <strong>requerida</strong>
          </mat-error>
          <mat-icon matSuffix (click)="hide= !hide">{{hide ? 'visibility':'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-card-actions class="form-group">
          <button mat-raised-button (click)="onLogin()" [disabled]="!email || !password" color="primary">LOGIN
          </button>
        </mat-card-actions>
      </form>
      <mat-card-actions class="form-group">
        <button mat-raised-button class="btn-google" (click)="onLoginGoogle()">SIGN IN WITH
          <img class="btn-google" alt=Google class="logoGoogle" src="assets/icons/Google_icon-icons.com_60497.png">
          OOGLE </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
