<mat-sidenav-container class="container">
  <mat-sidenav #snav mode="side">
    <div class="menuItem">
      <button mat-button [routerLink]="['/admin/proveedores']">Proveedores</button>
    </div>
    <div class="menuItem">
      <button mat-button [routerLink]="['/admin/convenios']">Convenios</button>
    </div>
    <div class="menuItem logoutMenuItem">
      <button mat-stroked-button (click)="logout()">LOGOUT</button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
      <span>Administración/proveedores</span>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
