<mat-toolbar color="primary" fxLayout="row" id="header">
  <span id="logo">
    <img src="../../assets/logo/logo_transparent.png" alt="logo" />
  </span>
  <span class="fill-remaining-space"></span>
  <span id="title">
    <h1>Los Pibes, Organización Social y Política</h1>
  </span>
  <span class="fill-remaining-space"></span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar color="primary" fxLayout="row" id="footer">
  <span class="fill-remaining-space"></span>
  <h1>LASOL - UNDAV - 2019</h1>
  <span class="fill-remaining-space"></span>
</mat-toolbar>
