<div>
  <mat-card>
    <div class="head-content-card">
      <h2>Cuentas</h2>
    </div>
    <mat-accordion *ngFor="let account of accounts">

      <mat-expansion-panel (opened)="panelOpenAccount = true" (closed)="panelOpenAccount=false">
        <mat-expansion-panel-header style="font-weight: bold" class="mat-typography; bold">
          <mat-panel-title>
            {{account.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card-content class="box transactionBoxItem">
          <div class="box1">
            <button mat-mini-fab matTooltip="Añadir Transacción" [matMenuTriggerFor]="menu">
              <mat-icon>add</mat-icon>
              <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/admin/transaccion', {id: account.key, type: 0}]">
                  Entrada</button>
                <button mat-menu-item [routerLink]="['/admin/transaccion', {id: account.key, type: 1}]">
                  Salida</button>
              </mat-menu>
            </button>
            &nbsp; &nbsp; &nbsp;
            <button [routerLink]="['/admin/transacciones', {id: account.key}]" class="buttonAdd" mat-mini-fab
              matTooltip="Ver transacciones" [matMenuTriggerFor]="menu">
              <mat-icon>search</mat-icon>
            </button>

          </div>
        </mat-card-content>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
