<div>
  <h2 mat-dialog-title>{{data.nombre}}</h2>
  <div mat-dialog-content class="mat-typography">
    <div fxLayout="row">
      <div style="font-weight: bold">
        Tags:&nbsp;
      </div>
      <div>
        {{data.tagsRubro}}
      </div>
    </div>
    <div fxLayout="row">
      <div style="font-weight: bold">
        Nombre:&nbsp;
      </div>
      <div>
        {{data.nombreContacto}}
      </div>
    </div>
    <div fxLayout="row">
      <div style="font-weight: bold">
        Apellido:&nbsp;
      </div>
      <div>
        {{data.apellidoContacto}}
      </div>
    </div>
    <div fxLayout="row">
      <div style="font-weight: bold">
        e-mail:&nbsp;
      </div>
      <div>
        {{data.mail}}
      </div>
    </div>
    <div fxLayout="row">
      <div style="font-weight: bold">
        Teléfono:&nbsp;
      </div>
      <div>
        {{data.telefonoContacto}}
      </div>
    </div>
    <div fxLayout="row">
      <div style="font-weight: bold">
        Cuil/Cuit:&nbsp;
      </div>
      <div>
        {{data.cuilCuit}}
      </div>
    </div>
    <div fxLayout="row">
      <div style="font-weight: bold">
        CBU:&nbsp;
      </div>
      <div>
        {{data.numeroCuenta}}
      </div>
    </div>
    <div fxLayout="row">
      <div style="font-weight: bold">
        Localidad:&nbsp;
      </div>
      <div>
        {{data.localidad}}
      </div>
    </div>
    <div fxLayout="row">
      <div style="font-weight: bold">
        Provincia:&nbsp;
      </div>
      <div>
        {{data.provincia}}
      </div>
    </div>
    <div fxLayout="row">
      <div style="font-weight: bold">
        Información adicional:&nbsp;
      </div>
      <div>
        {{data.informacionAdicional}}
      </div>
    </div>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="closeData()"> Ok </button>
  </div>
</div>
